body{
    background: linear-gradient(to right, rgb(34,193,195), rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

fieldset{
    border: 5px solid rgb(26, 99, 104) ;
    font-size: 25px;

}

label{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

legend{
    color:  rgb(26, 99, 104);
    font-family: 'Georgia', 'Georgia', 'Times, serif';
}

input{
    border: solid;
    font-size: 25px;
}