body{
    background: linear-gradient(to right, rgb(15, 17, 187), rgb(0, 0, 0), rgb(80, 6, 199));
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset{
    border: 5px solid red ;
}

label{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

legend{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    border: solid;
}